---
import Layout from "../layouts/Layout.astro";
import kotlinLogo from '../img/kotlin-logo.png';
import swiftLogo from '../img/swift-logo.png';
import angularLogo from '../img/angular-logo.png';
import javascriptLogo from '../img/javascript-logo.png';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="rounded-pill mx-auto text-center py-3 welcome">Welcome</h1>
		<p class="my-4 mx-auto text-center introduce">
			I am confident that I have the skills and experience that you are looking for in a mobile and front-end developer. I am also a highly motivated and results-oriented individual.
		</p>
		<div class="mx-auto row gy-4">
			<div class="col-sm-3 text-center"><img class="logo-language" src={kotlinLogo} alt="kotlin"></div>
			<div class="col-sm-3 text-center"><img class="logo-language" src={swiftLogo} alt="swift"></div>
			<div class="col-sm-3 text-center"><img class="logo-language" src={angularLogo} alt="angular"></div>
			<div class="col-sm-3 text-center"><img style="height: 50px; width:auto;" src={javascriptLogo} alt="javascript"></div>
		</div>
	</main>
</Layout>
